            <footer class="footer">
                <div class="row text-center pt-3">
                    <small>Games Manager - Created by <a href="https://github.com/fma965" target="_blank">Fma965</a></small>
                </div>
                <br>
            </footer>
	    </div>
	    <script src="/assets/js/script.js?ver={{ date().timestamp }}"  type="text/javascript"></script>
    </body>
</html>